/*
 * @Author: Aswath MadhuBabu 
 * @Date: 2017-06-25 15:49:11 
 * @Last Modified by:   Aswath MadhuBabu 
 * @Last Modified time: 2017-06-25 15:49:11 
 */
tr .avatar {
    border-right: 1px solid transparent;
    vertical-align: middle;
    width: 4rem;
}
tr td {
    border: 1px solid lightgray;
}
